
body{
    font-weight: bolder;
    font-family: system-ui;
    background: linear-gradient(90deg, black, blue);
    color:#cccccc;


 }


h1{
    color: mediumspringgreen;
    background-color:black;
}

h2{
    color:white;
}

h6{
    color:red;
}
li{
    color:white;
}
