
body{
    font-weight: bolder;
    font-family: system-ui;
}

h1{
    color: mediumspringgreen;
    background-color:black;
}

h2{
    color: mediumspringgreen;
    background-color:black;
}

h6{
    color: mediumspringgreen;
    background-color:black;
}

li{
    color: mediumspringgreen;
    background-color:black;
}

