
body{
    font-weight: bolder;
    font-family: system-ui;

    /* 背景色指定 */
 background-color:black;
 color:#cccccc;
 }


h1{
    color: mediumspringgreen;
    background-color:black;
}

h2{
    color: mediumspringgreen;
    background-color:black;
}

h6{
    color:red;
    background-color:black;
}

li{
    color:blue;
    background-color:black;
}

